* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: montserrat, sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: auto;
}

/* LOGIN PAGE */

input,
button {
  appearance: none;
  background: none;
  border: none;
  outline: none;
}

/*
.App {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: lightsalmon;
}

form {
  display: block;
  position: relative;
}

form:after {
  content: '';
  display: block;
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  z-index: 1;
  background-image: linear-gradient(to bottom right, yellow 20%, orange 70%);
}

form .form-inner {
  position: relative;
  display: block;
  background-color: #FFF;
  padding: 30px;
  z-index: 2;
}

form.form-inner h2 {
  color: #888;
  font-size: 28px;
  font-weight: 500;
  margin-bottom: 30px;
}

form .form-inner .form-group {
  display: block;
  width: 300px;
  margin-bottom: 15px;
}

.form-inner .form-group label {
  display: block;
  color: #666;
  font-size: 12px;
  margin-bottom: 5px;
  transition: 0.4s;
}

.form-inner .form-group:focus-within label {
  color: #FE4880;
}

form .form-inner .form-group input {
  display: block;
  width: 100%;
  padding: 10px 15px;
  background-color: #F8F8F8;
  border-radius: 8px;
  transition: 0.4s;
}

form .form-inner .form-group input:focus {
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
}

form .form-inner input[type="submit"] {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 30px;
  border-radius: 8px;
  background-image: linear-gradient(to right, #FFCE00 50%, #FFCE00 50%, #FE4880 50%);
  background-size: 200%;
  background-position: 0%;
  transition: 0.4s;
  color: #FFF;
  font-weight: 700;
  cursor: pointer;

}

form .form-inner input[type="submit"]:hover {
  background-position: 100% 0%;
}
 */


.leftText {
  position: absolute;
  display: inline-block;
  font-family: "Cairo", sans-serif;
  font-size: 14px;
  font-weight: 400;
  top: 4px;
  left: 3rem;
}

.middleText {
  position: absolute;
  display: inline-block;
  font-family: "Cairo", sans-serif;
  font-size: 14px;
  font-weight: 400;
  top: 4px;
  left: 29vh;
}

.socialPlatform {
  position: absolute;
  display: inline-block;
  top: 0.1vw;
  left: 143vh;
}

.emailIcon {
  color: black;
  margin-right: 9px;
}

.line2 {
  position: absolute;
  display: inline-block;
  top: 0.1vw;
  left: 78vw
}

.profileIcon {
  position: absolute;
  display: inline-block;
  top: 0.1vw;
  left: 80.5vw;
}

.loginText {
  position: absolute;
  font-family: "Cairo", sans-serif;
  font-size: 14px;
  font-weight: 400;
  top: 3px;
  left: 25px;
}

img.organicLogo {
  position: absolute;
  float: left;
  margin-left: 47.5vh;
  margin-top: 40px;
}

img.homepageImg {
  margin: 0.1rem;
  margin-top: 5vh;
  margin-left: 34.5rem;
  width: 65%;
}

.fig1 {
  font-family: "Cairo", sans-serif;
  position: absolute;
  bottom: 20rem;
  left: 35rem;
  margin: 13rem 14rem;
  font-size: 40px;
  font-weight: 900 !important;
}

.fig2 {
  font-family: "Cairo", sans-serif;
  position: absolute;
  top: 25rem;
  left: 23rem;
  margin: 8rem 26rem;
  font-size: 35px;
  font-weight: 900 !important;
  font-style: italic;
}

.Icon {
  color: black;
}

.search1 {
  background-color: #7fad39 !important;
  color: white !important;
  font-family: "Cairo", sans-serif;
  border-color: #7fad39 !important;
  font-size: 16px !important;
  font-weight: 500 !important;
}

.phoneIcon {
  color: #7fad39;
  position: absolute;
  text-align: center;
  height: 40px !important;
  width: 40px !important;
  border-radius: 50%;
  line-height: 36px;
  background-color: rgba(211, 211, 211, 0.562);
  margin-left: 65vh;
  margin-top: 2.7vw;
}

.phoneNumber h5 {
  color: black;
  padding: 2px;
  font-family: "Cairo", sans-serif;
  font-size: 18px;
  font-weight: 900;
  display: block;
  position: absolute;
  top: 10vw;
  margin-left: 35vw;
}

.supportText p {
  color: gray;
  padding: 2px;
  font-family: "Cairo", sans-serif;
  font-size: 13px;
  font-weight: normal;
  display: block;
  position: absolute;
  margin-left: 36.1vw;
  margin-top: 3.8vw;
}

.phone {
  display: grid;
  margin-left: 8.5vw;
}

.dropdownMenu {
  display: flex;
  position: absolute;
  left: 29rem;
  top: 12rem;
}

.containerProduct {
  margin-right: 21vh;
}

.btn-primary {
  width: 150%;
  font-family: "Cairo", sans-serif;
  font-size: 18px !important;
  background-color: #7fad39 !important;
  border-color: #7fad39 !important;
  font-weight: bold !important;
  border-radius: 2px !important;
  text-decoration: none;
  box-shadow: none !important;
}

.dropdown-menu.show {
  margin: -0.3vh 0;
  width: 150%;
  padding: 5px 0;
  line-height: 51.5px;
  border-radius: 0px;
  text-align: center;
}

.dropdown-item {

  font-family: "Cairo", sans-serif;
  font-size: 15px;
  margin-bottom: -10px;
  font-weight: 500 !important;
}

@media screen and (max-width: 576px) {
  figcaption {
    position: inherit;
    bottom: inherit;
    margin: .45rem 0;
    font-size: inherit;
    color: inherit;
  }
}

img.productimg {
  transition: all 0.3s ease;
}

img.productimg:hover {
  transform: scale(1.15);
}

.header__menu ul li {
  display: contents;
}

.header__menu {
  display: block;
  padding: 16px;
  padding: 20px 0 0 0;
}

ul {
  display: inline-flex;
  gap: 60px;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 100px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
  margin-left: 7.5vh;
}

.header__menu ul li.active a {
  color: #7fad39;
  text-decoration: none;
}

.header__menu ul li a {
  font-size: 14px;
  color: #252525;
  font-weight: 700;
  letter-spacing: 2px;
  transition: all, 0.3s;
  padding: 5px 0;
  display: block;
  text-decoration: none;
}

.header__menu ul li a:hover {
  color: #7fad39;
}

.col-lg-6 {
  padding-top: 20px;
  margin-left: 11rem;
}

.price {
  position: absolute;
  font-weight: bolder;
  margin-left: 78.5vh;
  top: 7.7vh;
}

.icons {
  display: flex;
  margin-left: 20vh;
  gap: inherit;
}

.container1 {
  position: absolute;
  left: 38.2vw;
  top: 10vw;
  width: 33% !important;
}

hr.line1 {
  display: block;
  width: 10%;
  margin: 0 45%;
  background-color: green;
  border: 3px;
  opacity: 1;
  height: 6px !important;
}

h3.latestProduct {
  font-weight: bolder;
}

hr.headerFile {
  width: 100%;
  height: 30px !important;
  margin-top: 0;
  margin-bottom: -20px;
  background-color: black;
  opacity: 0.4;
}

.form-control-borderless {
  border: none;

}

.form-control-borderless:hover,
.form-control-borderless:active,
.form-control-borderless:focus {

  border: none;
  outline: none;
  box-shadow: none;
}